# TF-IDF 실습

In [1]:
import pandas as pd
import numpy as np
from math import log
from tqdm import tqdm

In [137]:
re = pd.read_pickle('recommend_cat_new.pkl')
re = re.reset_index()
re = re.drop(columns = ['index','title','salesPoint','adult'])
re

,isbn,categoryName,rank,genres,mood,interest
0,9791165341909,소설,8,"[역사, 동화, 로맨스, 미스터리, 판타지, 무협]","[행복, 위로]","[일기, 동물, 사랑, 생각, 진로, 설득]"
1,9791161571188,소설,10,"[시대, 동화]","[위로, 힐링, 행복]","[시간, 심리, 관계, 사랑, 생각]"
2,9791192186313,에세이,10,[판타지],[위로],"[사랑, 청춘, 영화, 사진]"
3,9788954681179,소설,10,"[예술, 동화, 로맨스]","[행복, 위로, 열정]","[사랑, 생각, 인생, 청춘, 관계, 시간, 가족]"
4,9791165343729,소설,9,"[동화, 로맨스, 미스터리, 판타지, 무협]","[행복, 위로]","[사랑, 생각, 인생]"
...,...,...,...,...,...,...
54369,9791192227726,자기계발,0,[동화],"[열정, 도전, 행복]","[성공, 사랑, 인생, 청춘, 취미, 일기]"
54370,9791192227658,자기계발,0,[],"[고민, 위로, 힐링, 행복]","[심리, 관계, 설득, 생각, 진로]"
54371,9791164409464,에세이,0,"[시대, 동화]","[행복, 위로, 희망, 도전, 열망, 고통, 슬픔, 절망, 용기, 열정, 긍정, 우...","[사랑, 생각, 사회, 성공, 가족, 청춘, 일상]"
54372,9791188519354,자기계발,0,[],"[행복, 도전, 열망]","[리더십, 생각, 성공, 인생]"
54373,9791190710350,소설,0,"[시대, 동화]","[도전, 열정, 행복]","[사랑, 심리, 인간, 인생, 청춘, 관계, 페미니즘, 생각, 일상]"

In [3]:
books_all = pd.read_pickle('books_all.pkl')
books_all = books_all[['isbn','review_id', 'review_rank']]
books_all.head(2)

            isbn review_id review_rank
0  9791190710343   s*****0         5.0
1  9791190710343      녹**다         5.0

In [4]:
book = pd.merge(books_all,re, on='isbn')
book

,isbn,review_id,review_rank,categoryName,rank,genres,mood,interest
0,9791190710343,s*****0,5.0,에세이,0,"[시대, 동화, 예술]","[자유, 행복, 위로, 열망]","[사랑, 생각, 사회, 페미니즘, 인생]"
1,9791190710343,녹**다,5.0,에세이,0,"[시대, 동화, 예술]","[자유, 행복, 위로, 열망]","[사랑, 생각, 사회, 페미니즘, 인생]"
2,9791190710343,m*******n,4.0,에세이,0,"[시대, 동화, 예술]","[자유, 행복, 위로, 열망]","[사랑, 생각, 사회, 페미니즘, 인생]"
3,9791190710350,할**장,5.0,소설,0,"[시대, 동화]","[도전, 열정, 행복]","[사랑, 심리, 인간, 인생, 청춘, 관계, 페미니즘, 생각, 일상]"
4,9791190710367,책*레,5.0,소설,0,"[과학, 동화, 판타지, 예술]","[열망, 열정, 자유, 희망, 고민]","[심리, 동물, 인간, 관계]"
...,...,...,...,...,...,...,...,...
175534,9788995696972,귀****면,4.0,자기계발,8,"[시대, 철학]","[긍정, 희망, 절망, 행복, 도전]","[심리, 관계, 생각, 사회, 성공, 인간, 정치]"
175535,9788995696972,q******o,3.0,자기계발,8,"[시대, 철학]","[긍정, 희망, 절망, 행복, 도전]","[심리, 관계, 생각, 사회, 성공, 인간, 정치]"
175536,9788995696972,c*******x,3.0,자기계발,8,"[시대, 철학]","[긍정, 희망, 절망, 행복, 도전]","[심리, 관계, 생각, 사회, 성공, 인간, 정치]"
175537,9788995696972,북****구,3.0,자기계발,8,"[시대, 철학]","[긍정, 희망, 절망, 행복, 도전]","[심리, 관계, 생각, 사회, 성공, 인간, 정치]"
175538,9788995696972,양*치,2.0,자기계발,8,"[시대, 철학]","[긍정, 희망, 절망, 행복, 도전]","[심리, 관계, 생각, 사회, 성공, 인간, 정치]"

In [138]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [120]:
re.columns

Index(['isbn', 'title', 'categoryName', 'rank', 'genres', 'mood', 'interest'], dtype='object')

In [12]:
re['genres'][0]

['역사', '동화', '로맨스', '미스터리', '판타지', '무협']

In [139]:
re['genres'] = re['genres'].map(lambda x: ', '.join(map(str, x)) )
re['mood'] = re['mood'].map(lambda x: ', '.join(map(str, x)) )
re['interest'] = re['interest'].map(lambda x: ', '.join(map(str, x)) )

In [140]:
re.head()

,isbn,categoryName,rank,genres,mood,interest
0,9791165341909,소설,8,"역사, 동화, 로맨스, 미스터리, 판타지, 무협","행복, 위로","일기, 동물, 사랑, 생각, 진로, 설득"
1,9791161571188,소설,10,"시대, 동화","위로, 힐링, 행복","시간, 심리, 관계, 사랑, 생각"
2,9791192186313,에세이,10,판타지,위로,"사랑, 청춘, 영화, 사진"
3,9788954681179,소설,10,"예술, 동화, 로맨스","행복, 위로, 열정","사랑, 생각, 인생, 청춘, 관계, 시간, 가족"
4,9791165343729,소설,9,"동화, 로맨스, 미스터리, 판타지, 무협","행복, 위로","사랑, 생각, 인생"

In [141]:
from sklearn.preprocessing import LabelEncoder

class_le = LabelEncoder()
y_label1 = class_le.fit_transform(re['genres'].values)
re['genres'] = y_label1

y_label2 = class_le.fit_transform(re['mood'].values)
re['mood'] = y_label2

y_label3 = class_le.fit_transform(re['interest'].values)
re['interest'] = y_label3

y_label4 = class_le.fit_transform(re['categoryName'].values)
re['categoryName'] = y_label4

y_label5 = class_le.fit_transform(re['isbn'].values)
re['isbn'] = y_label5

In [142]:
re

        isbn  categoryName  rank  genres   mood  interest
0      42233             0     8    1442  11474     29079
1      40347             0    10     982   9306     20281
2      51405             2    10    2809   7639     11357
3      12873             0    10    1810  12304      7515
4      42271             0     9     311  11474      7286
...      ...           ...   ...     ...    ...       ...
54369  51411             3     0     291   6028     17559
54370  51410             3     0       0   1078     23372
54371  41552             2     0     982  12986      6548
54372  47124             3     0       0  10510      5108
54373  50119             0     0     982   4134      8807

[54374 rows x 6 columns]

In [143]:
for i in range(len(re)):
    if re['rank'][i] == 0:
        re['rank'][i] = np.nan

<ipython-input-143-7d53bfd1f2b2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  re['rank'][i] = np.nan
C:\Users\khb16\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [126]:
pd.isna(re).sum()

isbn                0
title               0
categoryName        0
rank            18312
genres              0
mood                0
interest            0
dtype: int64

In [144]:
re_pred = re.copy()

In [145]:
re.columns

Index(['isbn', 'categoryName', 'rank', 'genres', 'mood', 'interest'], dtype='object')

In [146]:
col = ['isbn', 'categoryName', 'rank', 'genres', 'mood', 'interest']

In [147]:
imp_mean = IterativeImputer(random_state=0)
re_pred[col] = imp_mean.fit_transform(re_pred[col])

In [148]:
re

        isbn  categoryName  rank  genres   mood  interest
0      42233             0   8.0    1442  11474     29079
1      40347             0  10.0     982   9306     20281
2      51405             2  10.0    2809   7639     11357
3      12873             0  10.0    1810  12304      7515
4      42271             0   9.0     311  11474      7286
...      ...           ...   ...     ...    ...       ...
54369  51411             3   NaN     291   6028     17559
54370  51410             3   NaN       0   1078     23372
54371  41552             2   NaN     982  12986      6548
54372  47124             3   NaN       0  10510      5108
54373  50119             0   NaN     982   4134      8807

[54374 rows x 6 columns]

In [149]:
re_pred

          isbn  categoryName       rank  genres     mood  interest
0      42233.0           0.0   8.000000  1442.0  11474.0   29079.0
1      40347.0           0.0  10.000000   982.0   9306.0   20281.0
2      51405.0           2.0  10.000000  2809.0   7639.0   11357.0
3      12873.0           0.0  10.000000  1810.0  12304.0    7515.0
4      42271.0           0.0   9.000000   311.0  11474.0    7286.0
...        ...           ...        ...     ...      ...       ...
54369  51411.0           3.0   9.326712   291.0   6028.0   17559.0
54370  51410.0           3.0   9.288758     0.0   1078.0   23372.0
54371  41552.0           2.0   9.124204   982.0  12986.0    6548.0
54372  47124.0           3.0   9.284677     0.0  10510.0    5108.0
54373  50119.0           0.0   8.867892   982.0   4134.0    8807.0

[54374 rows x 6 columns]

In [161]:
new = pd.read_pickle('recommend_cat_new.pkl')
new = new.reset_index()
new['rank_pred'] =re_pred['rank']

In [163]:
new.to_pickle('recommend_cat_new_pred.pkl', protocol = 4)

In [132]:
re_pred['isbn'].duplicated().sum()

0

In [133]:
re_pred['title'].duplicated().sum()

1816

In [92]:
for i in range(len(re)):
    if re['isbn'][i] == 'S000832736970':
        print(i)

356

In [97]:
re.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54374 entries, 0 to 54373
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   isbn          54374 non-null  object
 1   categoryName  54374 non-null  int32
 2   rank          36062 non-null  float64
 3   genres        54374 non-null  int32
 4   mood          54374 non-null  int32
 5   interest      54374 non-null  int32
dtypes: float64(1), int32(4), object(1)
memory usage: 1.7+ MB

In [99]:
re.isbn.astype('int')

OverflowError: Python int too large to convert to C long

In [101]:
re.iloc[356]

isbn            S000832736970
categoryName                0
rank                      8.0
genres                   1807
mood                     3988
interest                 4043
Name: 356, dtype: object

In [46]:
pd.isna(re[num_columns]).sum()

isbn            0
categoryName    0
rank            0
genres          0
mood            0
interest        0
dtype: int64

- 개별 영화에 대해 아이템 프로파일을 구축하려면 영화를 구성하고 있는 정보를 피쳐로 사용해야 합니다
- 영화에 대한 피쳐를 TF-IDF로 만들기 위해선 영화를 구성하는 Document와 Word가 필요합니다
- **개별 영화를 Document, 영화를 표현하는 장르들을 Word로 놓고 TF-IDF를 구해보자**

In [7]:
# 전체 도서 개수
N = len(re)
N

54374

In [8]:
# 전체 단어 개수 (=도서 장르 개수)
genres = list(set([genre for book in re['genres'] for genre in book]))
genres.sort()
print("전체 단어: ", genres)
print("전체 단어 길이: ", len(genres))

전체 단어:  ['과학', '동화', '로맨스', '무협', '미스터리', '시대', '역사', '예술', '자서전', '전쟁', '철학', '판타지']
전체 단어 길이:  12

In [9]:
# 전체 단어에 대한 IDF 구하기, 먼저 각 단어별로 문서에 등장하는 횟수 DF를 구하자.

# document frequency: 각 단어가 문서에 등장하는 횟수
df_dict = dict.fromkeys(genres, 0)

for genre_list in tqdm(re['genres']):
    for genre in genres:  
        df_dict[genre] += genre in genre_list
df_dict

100%|████████████████████████████████████████████████████████████████████████| 54374/54374 [00:00<00:00, 214559.50it/s]

{'과학': 2455,
 '동화': 21258,
 '로맨스': 8651,
 '무협': 2009,
 '미스터리': 5050,
 '시대': 16062,
 '역사': 7315,
 '예술': 13967,
 '자서전': 4402,
 '전쟁': 3057,
 '철학': 5993,
 '판타지': 8716}

In [10]:
# 단어별 idf 구하기

idf_dict = dict.fromkeys(df_dict.keys())
for key, value in df_dict.items():
    idf_dict[key] = log(N/(value+1))
idf_dict

{'과학': 3.0973520881502417,
 '동화': 0.9391057633162124,
 '로맨스': 1.8380955903443252,
 '무협': 3.297751376364153,
 '미스터리': 2.376299854949222,
 '시대': 1.2193676078595084,
 '역사': 2.0058223679065184,
 '예술': 1.3591170993378912,
 '자서전': 2.5135999716615207,
 '전쟁': 2.878124990928267,
 '철학': 2.205127129540666,
 '판타지': 1.8306109564056985}

In [11]:
def tf(word, document):
    return document.count(word)

def idf(word):
    df = 0
    for document in document_list:
        df += 1 if word in document else 0    
    return log(N/(df+1))

def tfidf(word, document):
    return tf(word, document) * idf(word)

In [12]:
# 전체 단어에 대한 TF-IDF 구하기

result = []
index_list = []

for isbn, row in tqdm(re.iterrows()):
    doc_tf = []
    document = row['genres']
    for genre in genres:
        doc_tf.append(tf(genre, document)*idf_dict[genre])
        
    result.append(doc_tf)
    index_list.append(isbn)

tfidf_df = pd.DataFrame(result, columns=genres, index=index_list).sort_index()

54374it [00:04, 12405.67it/s]

In [13]:
# 개별 도서에 대한 TF-IDF 벡터 dataframe
# 각 도서는 단어의 개수만큼의 차원을 가진 벡터로 표현
tfidf_df

,과학,동화,로맨스,무협,미스터리,시대,역사,예술,자서전,전쟁,철학,판타지
0,0.0,0.939106,1.838096,3.297751,2.3763,0.000000,2.005822,0.000000,0.0,0.0,0.0,1.830611
1,0.0,0.939106,0.000000,0.000000,0.0000,1.219368,0.000000,0.000000,0.0,0.0,0.0,0.000000
2,0.0,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.0,0.0,1.830611
3,0.0,0.939106,1.838096,0.000000,0.0000,0.000000,0.000000,1.359117,0.0,0.0,0.0,0.000000
4,0.0,0.939106,1.838096,3.297751,2.3763,0.000000,0.000000,0.000000,0.0,0.0,0.0,1.830611
...,...,...,...,...,...,...,...,...,...,...,...,...
54369,0.0,0.939106,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
54370,0.0,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
54371,0.0,0.939106,0.000000,0.000000,0.0000,1.219368,0.000000,0.000000,0.0,0.0,0.0,0.000000
54372,0.0,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
54373,0.0,0.939106,0.000000,0.000000,0.0000,1.219368,0.000000,0.000000,0.0,0.0,0.0,0.000000

## 아이템 유사도 기반 추천
- 아이템끼리의 유사도를 구할 수 있습니다
- 어떤 영화가 주어졌을 때 그 영화와 가장 cosine 유사도가 가장 높은 영화를 추천합니다

In [14]:
# cosine similarity 계산하는 함수

from sklearn.metrics.pairwise import cosine_similarity

def cos_sim_matrix(a, b):
    cos_sim = cosine_similarity(a, b)
    result_df = pd.DataFrame(data=cos_sim, index=[a.index], columns = b.index)

    return result_df

In [15]:
# 도서와 도서 사이의 유사도

book_sim_df = cos_sim_matrix(tfidf_df, tfidf_df)
book_sim_df

,0,1,2,3,4,5,6,7,8,9,...,54364,54365,54366,54367,54368,54369,54370,54371,54372,54373
0,1.000000,0.107988,0.344987,0.324885,0.925803,0.107988,0.100606,0.0,0.434578,0.0,...,0.0,0.0,0.0,0.000000,0.080944,0.176979,0.0,0.107988,0.0,0.107988
1,0.107988,1.000000,0.000000,0.231861,0.116642,1.000000,0.346861,0.0,0.543619,0.0,...,0.0,0.0,0.0,0.000000,0.749571,0.610172,0.0,1.000000,0.0,1.000000
2,0.344987,0.000000,1.000000,0.000000,0.372636,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
3,0.324885,0.231861,0.000000,1.000000,0.350923,0.231861,0.668455,0.0,0.126044,0.0,...,0.0,0.0,0.0,0.261569,0.537816,0.379993,0.0,0.231861,0.0,0.231861
4,0.925803,0.116642,0.372636,0.350923,1.000000,0.116642,0.108669,0.0,0.469407,0.0,...,0.0,0.0,0.0,0.000000,0.087432,0.191163,0.0,0.116642,0.0,0.116642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54369,0.176979,0.610172,0.000000,0.379993,0.191163,0.610172,0.568464,0.0,0.331701,0.0,...,0.0,0.0,0.0,0.000000,0.457368,1.000000,0.0,0.610172,0.0,0.610172
54370,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
54371,0.107988,1.000000,0.000000,0.231861,0.116642,1.000000,0.346861,0.0,0.543619,0.0,...,0.0,0.0,0.0,0.000000,0.749571,0.610172,0.0,1.000000,0.0,1.000000
54372,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
54373,0.107988,1.000000,0.000000,0.231861,0.116642,1.000000,0.346861,0.0,0.543619,0.0,...,0.0,0.0,0.0,0.000000,0.749571,0.610172,0.0,1.000000,0.0,1.000000

In [20]:
k = 10

given_movie = '9791190710343'
isbn = books_all[books_all.isbn == given_movie].index[0]

for index, value in book_sim_df[isbn].sort_values(ascending = False)[:k].items():
    recommend_isbn = index[0]
    print(books_all.loc[recommend_isbn]['isbn'], value)

9791190710343 1.0
9791188545209 1.0
9788983927637 1.0
9788984457591 1.0
9791159921537 1.0
9788952762276 1.0
9788984374133 1.0
9791135493218 1.0
9788937472046 1.0
9791189280284 1.0

## 유저 벡터를 이용한 추천


- 데이터를 train / test로 나눕니다
- 아이템 프로파일인 TF-IDF 벡터를 만듭니다
- 아이템 벡터를 사용하여 **유저 프로파일 벡터**를 만듭니다
- 유저 프로파일 벡터와 추천 후보 아이템 벡터의 simlarity를 계산하여 사용자에게 적합한 Top K 아이템을 추천한다.

- Top-K recommendation의 경우, 추천된 아이템 K에 대해서 사용자가 선호한 아이템이 얼마나 있는지를 평가한다.
- 무비렌즈 데이터를 사용할 경우 사용자가 아이템을 선호한다는 기준이 필요하다. (사용자가 아이템에 내린 절대 평점값만이 존재하기 때문에)
- **아래 실습을 수행할 때는 평점의 크기와 관계없이 평점이 존재하면 모두 선호한다고 가정하자!**

In [21]:
review_id_list = book['review_id'].unique()
book_id_list = books_all.index.tolist()
book_id_set = set(book_id_list)

In [23]:
len(review_id_list)

15626

### hit ratio로 성능 평가
- 사용자가 선호도를 표시한 아이템 가운데 한개만 제거해서 이를 테스트 데이터에 넣습니다
- 남은 데이터를 학습 데이터로 사용하여 추천 모델을 만들고 추천 결과를 생성하여 테스트 데이터에 있는 영화와 일치하는지 평가합니다

In [27]:
# 먼저 사용자 1명에 대해서 추천을 수행하고 성능을 평가해봅시다
# 사용할 train/test 데이터는 ratings_df이고, 아이템 프로파일인 tfidf vector는 이미 위에서 모두 생성하였습니다

In [24]:
# user_id = 10
review_id = '나*'
_df = book[book.review_id == review_id]

In [25]:
_df

,isbn,review_id,review_rank,categoryName,rank,genres,mood,interest
127,9791158791810,나*,5.0,소설,10,"[미스터리, 판타지]",[행복],"[생각, 관계, 사랑, 심리, 인생, 친구]"
219,9791197550911,나*,5.0,소설,9,"[예술, 미스터리]","[유머, 비극]",[심리]
231,9788947548007,나*,5.0,소설,10,[동화],[고민],"[가족, 일상, 시간]"
268,9788931558418,나*,5.0,에세이,10,"[역사, 자서전, 시대]","[행복, 고민, 후회, 열망]","[일기, 생각, 시간]"
300,9791191910056,나*,3.0,소설,8,"[예술, 시대]","[고민, 열정, 행복]","[심리, 사랑, 인생, 청춘, 사회, 미술, 인간, 생각]"
...,...,...,...,...,...,...,...,...
170704,9788965961666,나*,5.0,자기계발,9,[동화],"[고민, 행복, 후회, 유머]","[심리, 관계, 생각, 설득, 건강, 인생, 리더십, 비즈니스]"
170910,9791130608303,나*,5.0,자기계발,9,"[철학, 예술]","[비극, 고민, 후회, 행복, 도전]","[인간, 리더십, 비즈니스, 사회, 생각, 성공, 일상, 인생]"
172030,9791130615608,나*,5.0,자기계발,9,[],[행복],"[시간, 생각]"
172132,9788984058811,나*,4.0,자기계발,8,[시대],"[우울, 불안, 도전]","[비즈니스, 성공, 시간, 취업, 생각, 인생, 리더십, 취미]"
174293,9788993635072,나*,5.0,자기계발,8,[동화],"[고민, 유머, 우울, 불안, 행복, 위로, 고통, 슬픔, 후회, 비극, 불행, 희...","[사랑, 생각, 인생, 시간, 청춘, 건강]"

In [26]:
# 랜덤하게 하나의 영화만 제외함.

drop_indices = np.random.choice(_df.index, 1, replace=False)
_df_train = _df.drop(drop_indices)
_df_train

,isbn,review_id,review_rank,categoryName,rank,genres,mood,interest
127,9791158791810,나*,5.0,소설,10,"[미스터리, 판타지]",[행복],"[생각, 관계, 사랑, 심리, 인생, 친구]"
219,9791197550911,나*,5.0,소설,9,"[예술, 미스터리]","[유머, 비극]",[심리]
231,9788947548007,나*,5.0,소설,10,[동화],[고민],"[가족, 일상, 시간]"
268,9788931558418,나*,5.0,에세이,10,"[역사, 자서전, 시대]","[행복, 고민, 후회, 열망]","[일기, 생각, 시간]"
300,9791191910056,나*,3.0,소설,8,"[예술, 시대]","[고민, 열정, 행복]","[심리, 사랑, 인생, 청춘, 사회, 미술, 인간, 생각]"
...,...,...,...,...,...,...,...,...
170704,9788965961666,나*,5.0,자기계발,9,[동화],"[고민, 행복, 후회, 유머]","[심리, 관계, 생각, 설득, 건강, 인생, 리더십, 비즈니스]"
170910,9791130608303,나*,5.0,자기계발,9,"[철학, 예술]","[비극, 고민, 후회, 행복, 도전]","[인간, 리더십, 비즈니스, 사회, 생각, 성공, 일상, 인생]"
172030,9791130615608,나*,5.0,자기계발,9,[],[행복],"[시간, 생각]"
172132,9788984058811,나*,4.0,자기계발,8,[시대],"[우울, 불안, 도전]","[비즈니스, 성공, 시간, 취업, 생각, 인생, 리더십, 취미]"
174293,9788993635072,나*,5.0,자기계발,8,[동화],"[고민, 유머, 우울, 불안, 행복, 위로, 고통, 슬픔, 후회, 비극, 불행, 희...","[사랑, 생각, 인생, 시간, 청춘, 건강]"

In [33]:
# user vector를 만든다.
# 유저가 봤던 영화들의 벡터의 평균이 user vector, 가장 간단한 방법

rated_book_list = _df_train['isbn'].unique().tolist()
user_profile_df = tfidf_df.loc[rated_book_list, :].mean().to_frame().T
user_profile_df

KeyError: "None of [Index(['9791158791810', '9791197550911', '9788947548007', '9788931558418',\n       '9791191910056', '9788934941040', '9791130680415', '9791191803037',\n       '9791192290065', '9791160262605',\n       ...\n       '9788965960270', '9791190049207', '9788984058484', '9791185035246',\n       '9791186805459', '9788965961666', '9791130608303', '9791130615608',\n       '9788984058811', '9788993635072'],\n      dtype='object', length=1237)] are in the [index]"

In [32]:
# train 데이터에 있는 영화 id를 추천 대상에서 제거합니다
# 이미 선호했던 영화를 제외한 나머지 영화 가운데에서 추천을 수행합니다

rated_movie_set = set(rated_movie_list)
recommend_movie_list = list(movie_id_set - rated_movie_set)
recommend_movie_tfidf_df = tfidf_df.loc[recommend_movie_list, :]
recommend_movie_tfidf_df

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1,0.0,0.000000,2.042165,2.767469,2.684415,0.952826,0.000000,0.0,0.000000,2.524908,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.000000,0.000000,0.0
2,0.0,0.000000,2.042165,0.000000,2.684415,0.000000,0.000000,0.0,0.000000,2.524908,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.000000,0.000000,0.0
3,0.0,0.000000,0.000000,0.000000,0.000000,0.952826,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.0,0.0,1.80832,0.0,0.000000,0.000000,0.0
4,0.0,0.000000,0.000000,0.000000,0.000000,0.952826,0.000000,0.0,0.803516,0.000000,0.0,0.00000,0.0,0.0,0.0,1.80832,0.0,0.000000,0.000000,0.0
5,0.0,0.000000,0.000000,0.000000,0.000000,0.952826,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163809,0.0,0.000000,2.042165,2.767469,0.000000,0.000000,0.000000,0.0,0.803516,0.000000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.000000,0.000000,0.0
32743,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.803516,0.000000,0.0,2.29767,0.0,0.0,0.0,0.00000,0.0,1.637228,0.000000,0.0
98279,0.0,0.000000,0.000000,0.000000,0.000000,0.952826,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.000000,0.000000,0.0
65514,0.0,1.672677,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.803516,0.000000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.000000,3.236167,0.0
98296,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.094125,0.0,0.803516,0.000000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,1.637228,0.000000,0.0

In [33]:
# 유저 벡터와 나머지 아이템 벡터간의 유사도를 계산합니다

top_k_result_df = cos_sim_matrix(recommend_movie_tfidf_df, user_profile_df)
top_k_result_df

               0
1       0.467078
2       0.365017
3       0.735324
4       0.781695
5       0.346209
...          ...
163809  0.373057
32743   0.144074
98279   0.346209
65514   0.195200
98296   0.221867

[9603 rows x 1 columns]

In [34]:
# top k 추천 결과
k = 10

top_k_result_df = top_k_result_df.sort_values(by=0, ascending=False)
top_k_list = top_k_result_df[:k].reset_index()['level_0'].values.tolist()

# 아까 샘플링한 test용 영화 선호 데이터
_df_test = _df.loc[drop_indices.tolist(), :]
test_movie_id = _df_test['movieId'].values[0]

print("test 선호 영화: ", test_movie_id)
print("top k 추천: ", top_k_list)
print("hit 여부: ", test_movie_id in top_k_list)

test 선호 영화:  136020
top k 추천:  [852, 4062, 4023, 49130, 81949, 6596, 3825, 1353, 50685, 50792]
hit 여부:  False

### simple user vector 사용 추천

In [35]:
k = 20
hit = 0

for user_id in tqdm(user_id_list):
    
    # 개별 유저 데이터 로드
    _df = ratings_df[ratings_df.userId == user_id]
    
    # train / test 데이터 나누기
    drop_indices = np.random.choice(_df.index, 1, replace=False)
    _df_train = _df.drop(drop_indices)
    
    # user vector를 생성
    rated_movie_list = _df_train['movieId'].tolist()
    user_profile_df = tfidf_df.loc[rated_movie_list, :].mean().to_frame().T
    
    # 이미 유저가 평가를 한 영화는 추천 대상에서 제거
    rated_movie_set = set(rated_movie_list)
    recommend_movie_list = list(movie_id_set - rated_movie_set)
    recommend_movie_tfidf_df = tfidf_df.loc[recommend_movie_list, :]
    
    # 추천 대상 영화들의 item vector와에 user vector의 유사도를 구한 뒤, top k 영화를 뽑는다.
    top_k_result_df = cos_sim_matrix(recommend_movie_tfidf_df, user_profile_df)
    top_k_result_df = top_k_result_df.sort_values(by=0, ascending=False)
    top_k_list = top_k_result_df[:k].reset_index()['level_0'].values.tolist()
    
    # 유저 u에 대한 평가 (hit 여부)
    _df_test = _df.loc[drop_indices.tolist(), :]
    test_movie_id = _df_test['movieId'].values[0]
    
    hit += test_movie_id in top_k_list
    
hit_ratio = hit / len(user_id_list)

100%|██████████| 610/610 [00:07<00:00, 76.67it/s]

In [36]:
print('hit_ratio: ', hit_ratio)

hit_ratio:  0.013114754098360656

### weighted average user vector 사용 추천 (variant)

In [37]:
k = 20
hit = 0

for user_id in tqdm(user_id_list):
    
    # 개별 유저 데이터 로드
    _df = ratings_df[ratings_df.userId == user_id]
    
    # train / test 데이터 나누기
    drop_indices = np.random.choice(_df.index, 1, replace=False)
    _df_train = _df.drop(drop_indices)
    
    # user vector를 생성
    # 유저가 봤던 영화들의 벡터의 평점을 이용한 가중 평균이 user vector (variant)
    rated_movie_list = _df_train['movieId'].tolist()
    numerator = np.matmul(tfidf_df.loc[rated_movie_list].to_numpy().T, _df_train['rating'].to_numpy())
    denominator = _df_train['rating'].sum()
    user_profile_df = pd.DataFrame([numerator], columns = tfidf_df.columns) / denominator
    
    # 이미 유저가 평가를 한 영화는 추천 대상에서 제거
    rated_movie_set = set(rated_movie_list)
    recommend_movie_list = list(movie_id_set - rated_movie_set)
    recommend_movie_tfidf_df = tfidf_df.loc[recommend_movie_list, :]
    
    # 추천 대상 영화들의 item vector와에 user vector의 유사도를 구한 뒤, top k 영화를 뽑는다.
    top_k_result_df = cos_sim_matrix(recommend_movie_tfidf_df, user_profile_df)
    top_k_result_df = top_k_result_df.sort_values(by=0, ascending=False)
    top_k_list = top_k_result_df[:k].reset_index()['level_0'].values.tolist()
    
    # 유저 u에 대한 평가 (hit 여부)
    _df_test = _df.loc[drop_indices.tolist(), :]
    test_movie_id = _df_test['movieId'].values[0]
    
    hit += test_movie_id in top_k_list
    
hit_ratio = hit / len(user_id_list)

100%|██████████| 610/610 [00:09<00:00, 67.18it/s]

In [38]:
print('hit_ratio: ', hit_ratio)

hit_ratio:  0.011475409836065573

## 평점 예측 문제
- 예측 문제의 경우 추천 결과를 생성하지 않고 테스트 데이터의 평점을 직접 예측합니다
- rmse, mae 같은 지표로 성능을 평가합니다

In [39]:
movie_sim_df.shape

(9742, 9742)

In [40]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(ratings_df, test_size=0.2, random_state=10)

In [41]:
print('train 데이터 개수:', len(train_df))
print('test 데이터 개수:', len(test_df))

train 데이터 개수: 80668
test 데이터 개수: 20168

In [42]:
test_user_list = test_df.userId.unique()
len(test_user_list)

610

### rmse로 추천 성능 평가

- 사용자가 과거에 봤던 아이템을 기반으로 유저 프로파일이 만들어지는 원리는 동일합니다
- 예측 평점을 구하는 방법은 다음과 같습니다
    
    1. train / test 데이터로 평점 데이터를 나눕니다.
    2. 사용자 u에 대해서 train 데이터에 있는 영화들(M)과 test 데이터에 있는 예측하려는 영화(m) 사이의 유사도를 구합니다.
    3. m의 평점은 M과 m과의 유사도를 가중치로 사용한 M의 평점들의 가중 평균입니다.

In [43]:
# 먼저 사용자 1명에 대해서 추천을 수행하고 성능을 평가해봅시다.
# train/test 데이터는 ratings_df를 사용합니다.
# 아이템 프로파일인 tfidf vector는 이미 위에서 모두 생성하였습니다.

In [44]:
user_id = 10
user_train_df = train_df[train_df.userId == user_id]
user_train_df.index = user_train_df['movieId']
user_train_df = user_train_df.sort_index()

In [45]:
user_train_df

         userId  movieId  rating   timestamp
movieId
296          10      296     1.0  1455303387
356          10      356     3.5  1455301685
588          10      588     4.0  1455306173
597          10      597     3.5  1455357645
912          10      912     4.0  1455302254
...         ...      ...     ...         ...
113275       10   113275     4.5  1455357698
113394       10   113394     4.0  1455398275
136020       10   136020     5.0  1455302192
137595       10   137595     4.0  1455356898
140110       10   140110     5.0  1455356776

[115 rows x 4 columns]

In [46]:
# 유저 10이 평가한 training data안의 115개의 영화를 vector로 펼쳐보면,
user_sim_df = movie_sim_df.loc[user_train_df['movieId']]
user_sim_df

,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
296,0.060278,0.000000,0.151290,0.240932,0.324545,0.766315,0.151290,0.000000,0.000000,0.293930,...,0.075820,0.076312,0.424541,0.000000,0.0,0.073420,0.079999,0.273688,0.000000,0.324545
356,0.045248,0.000000,0.522619,0.561551,0.243624,0.000000,0.522619,0.000000,0.000000,0.000000,...,0.056915,0.057285,0.318687,0.000000,0.0,0.055114,0.060052,0.205448,0.000000,0.243624
588,0.694848,0.482628,0.079391,0.073887,0.170309,0.000000,0.079391,0.602876,0.000000,0.239976,...,0.375435,0.475041,0.130194,0.494659,0.0,0.363552,0.396129,0.000000,0.423341,0.170309
597,0.086580,0.000000,1.000000,0.930671,0.466160,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.108904,0.000000,0.356361,0.000000,0.0,0.105457,0.114907,0.000000,0.000000,0.466160
912,0.000000,0.000000,0.808480,0.900989,0.000000,0.000000,0.808480,0.000000,0.000000,0.000000,...,0.000000,0.113222,0.261775,0.000000,0.0,0.000000,0.000000,0.406062,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113275,0.141984,0.000000,0.356361,0.567512,0.764462,0.000000,0.356361,0.000000,0.000000,0.000000,...,0.178593,0.179752,1.000000,0.000000,0.0,0.172940,0.188437,0.644669,0.000000,0.764462
113394,0.141984,0.000000,0.356361,0.567512,0.764462,0.000000,0.356361,0.000000,0.000000,0.000000,...,0.178593,0.179752,1.000000,0.000000,0.0,0.172940,0.188437,0.644669,0.000000,0.764462
136020,0.241259,0.293761,0.000000,0.000000,0.000000,0.678782,0.000000,0.366952,0.496414,0.665766,...,0.203588,0.000000,0.000000,0.000000,0.0,0.197144,0.000000,0.000000,0.256778,0.000000
137595,0.141984,0.000000,0.356361,0.567512,0.764462,0.000000,0.356361,0.000000,0.000000,0.000000,...,0.178593,0.179752,1.000000,0.000000,0.0,0.172940,0.188437,0.644669,0.000000,0.764462
140110,0.185731,0.000000,0.466160,0.433841,1.000000,0.000000,0.466160,0.000000,0.000000,0.000000,...,0.233619,0.000000,0.764462,0.000000,0.0,0.226224,0.246496,0.000000,0.000000,1.000000

In [47]:
# 사용자가 평가한 115개 영화에 대한 평점
user_rating_df = user_train_df[['rating']]
user_rating_df

         rating
movieId
296         1.0
356         3.5
588         4.0
597         3.5
912         4.0
...         ...
113275      4.5
113394      4.0
136020      5.0
137595      4.0
140110      5.0

[115 rows x 1 columns]

In [48]:
# 유사도를 가중치로 사용하여 예측 평점을 구합니다

user_sim_sum = np.sum(user_sim_df.T.to_numpy(), -1)
predict_rating = np.matmul(user_sim_df.T.to_numpy(), user_rating_df.to_numpy()).flatten() / (user_sim_sum + 1)
prediction_df = pd.DataFrame(predict_rating, index=movie_sim_df.index).reset_index()
prediction_df = prediction_df.rename(columns={'level_0': 'movieId', 0: 'predict_rating'})
prediction_df

      movieId  predict_rating
0           1        3.379647
1           2        3.332194
2           3        3.215757
3           4        3.200339
4           5        3.146149
...       ...             ...
9737   193581        3.327307
9738   193583        3.299837
9739   193585        2.999658
9740   193587        3.416861
9741   193609        3.146149

[9742 rows x 2 columns]

In [49]:
# test 데이터의 true rating과 비교해봅시다

result_df = prediction_df.merge(test_df[test_df.userId == user_id], on = 'movieId')
result_df

    movieId  predict_rating  userId  rating   timestamp
0      1907        3.284974      10     4.0  1455306183
1      4993        3.301527      10     4.0  1455356385
2      5066        3.194188      10     3.0  1455399329
3      5377        3.200339      10     3.5  1455301898
4      6535        3.146149      10     4.0  1455398379
5      8533        3.194188      10     5.0  1455301847
6      8970        2.999658      10     1.0  1455398160
7     31685        3.215757      10     4.5  1455357602
8     33145        3.200339      10     3.0  1455398153
9     33679        3.282119      10     3.0  1455357626
10    40629        3.194188      10     3.0  1455356796
11    56367        3.200339      10     3.5  1455301825
12    59333        3.215757      10     2.5  1455357564
13    63113        3.244869      10     3.5  1455302183
14    72737        3.276208      10     3.5  1455398131
15    78772        3.224611      10     3.0  1455356988
16    81845        2.999658      10     5.0  1455302591
17    88163        3.200339      10     4.0  1455357504
18    96079        3.291946      10     5.0  1455302172
19    98203        3.279768      10     3.0  1455356994
20   104374        3.198509      10     4.0  1455357653
21   105211        3.200339      10     2.5  1455399232
22   109487        3.067641      10     0.5  1455398092
23   119145        3.229263      10     1.0  1455302650
24   129428        3.120892      10     3.5  1455357384

In [50]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

# rmse 구하기
mse = mean_squared_error(y_true=result_df['rating'].values, y_pred=result_df['predict_rating'].values)
rmse = np.sqrt(mse)

# mae 구하기
mae = mean_absolute_error(y_true=result_df['rating'].values, y_pred=result_df['predict_rating'].values)

print("rmse", rmse)
print("mae", mae)

rmse 1.1342882791670417
mae 0.8684869962217949

### 전체 유저에 대해서 예측

In [51]:
result_df = pd.DataFrame()

for user_id in tqdm(user_id_list):
        
    user_train_df = train_df[train_df.userId == user_id]
    user_train_df.index = user_train_df['movieId']
    user_train_df = user_train_df.sort_index()
    user_sim_df = movie_sim_df.loc[user_train_df['movieId']]
    
    user_rating_df = user_train_df[['rating']]
    
    user_sim_sum = np.sum(user_sim_df.T.to_numpy(), -1)
    predict_rating = np.matmul(user_sim_df.T.to_numpy(), user_rating_df.to_numpy()).flatten() / (user_sim_sum + 1)
    prediction_df = pd.DataFrame(predict_rating, index=movie_sim_df.index).reset_index()
    prediction_df = prediction_df.rename(columns={'level_0': 'movieId', 0: 'predict_rating'})
    
    # test
    temp_df = prediction_df.merge(test_df[test_df.userId == user_id], on='movieId')
    result_df = pd.concat([result_df, temp_df], axis=0)

100%|██████████| 610/610 [00:30<00:00, 20.09it/s]

In [52]:
# test 데이터의 개수와 같음
len(result_df)

20168

In [53]:
# rmse
mse = mean_squared_error(y_true = result_df['rating'].values, y_pred = result_df['predict_rating'].values)
rmse = np.sqrt(mse)

# mae
mae = mean_absolute_error(y_true = result_df['rating'].values, y_pred = result_df['predict_rating'].values)

print("mae", mae)
print("rmse", rmse)

mae 0.7485065244915764
rmse 0.9551243628312982